/* desktop pantalla 1024px */
@use "../utilities/variables" as var;
@use "../utilities/mixins" as m;



@media (min-width: 1024px) {
  .card-custom {
    height: 600px;
    max-height: 600px;
    @include m.flexColumn;
    padding: 10px;
  }

  .card-custom img {
    max-height: 200px;
    object-fit: contain;
    width: auto;
  }

  main {
    width: 100%;
    display: block;
  }
  
.ana-sofia, .lucas-diego, .martina-tomas {
    max-width: 60%;
  }

  .btn-wsp {
    bottom: 80px;
  }
}